name: Check and build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Setup Bun
      - uses: oven-sh/setup-bun@v2

      # Install dependencies
      - run: bun install

      # Check
      - run: bun run check

      # Build
      - run: bun run build
